.basic-form {
  padding: 20px;
  &-header {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, .85);
    p {
      margin-top: 16px;
      font-size: 14px;
      color: #929292;
      font-weight: normal;
    }
  }
}
