<div class="printing-left-formatting">
  <nz-card
    [nzTitle]="'Formatting'"
    [nzBordered]="false"
  >
    <h4>text-nowrap</h4>
    <p style="white-space: nowrap">[class="text-nowrap"].Ad eiusmod eu velit veniam laborum voluptate duis aliqua esse
      eiusmod.</p>
    <h4>text-truncate</h4>
    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">[class="text-truncate"].Officia nulla velit
      minim mollit laborum et irure ullamco nisi dolore qui.
      Sint aute aliqua tempor commodo officia sunt non do id laborum mollit ex ea cupidatat.
      Amet ad non fugiat magna. Ut cupidatat labore pariatur esse reprehenderit esse sint in proident elit
      minim sunt enim sit. Enim sint deserunt exercitation duis. Aliquip cillum irure do incididunt do eu
      eiusmod excepteur culpa ex consectetur nulla duis sit. Ex officia excepteur officia ea ea cupidatat
      veniam officia officia est.</p>
    <h4>Transformation</h4>
    <p style="text-transform: lowercase;">class="text-lowercase"</p>
    <p style="text-transform: uppercase;">CLASS="TEXT-UPPERCASE"</p>
    <p style="text-transform: capitalize;">Class="Text-Capitalize"</p>
    <p style="text-decoration: line-through;">class="text-deleted"</p>
  </nz-card>
</div>
