<div class="printing-middle-code">
  <nz-card
    [nzTitle]="'Code'"
    [nzBordered]="false"
  >
    <p>
      This is an example of an inline code element within body copy. Wrap inline code within a
      <code
        style="padding: 2px 4px;
    margin: 0 4px;
    font-size: 90%;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;">...</code>
      tag.
    </p>
    <p>
      <code
        style="padding: 2px 4px;
    margin: 0 4px;
    font-size: 90%;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;">This is an example of preformatted text.</code>
    </p>
  </nz-card>
</div>
