<div class="printing">
  <div class="printing-header">字体排印</div>
  <div class="printing-left">
    <app-printing-left-headings></app-printing-left-headings>
    <app-printing-left-formatting></app-printing-left-formatting>
    <app-printing-left-display></app-printing-left-display>
  </div>
  <div class="printing-middle">
    <app-printing-middle-paragraphs></app-printing-middle-paragraphs>
    <app-printing-middle-border></app-printing-middle-border>
    <app-printing-middle-code></app-printing-middle-code>
  </div>
  <div class="printing-right">
    <app-printing-right-color></app-printing-right-color>
    <app-printing-right-padding-and-margin></app-printing-right-padding-and-margin>
    <app-printing-right-list></app-printing-right-list>
  </div>
</div>
