<div class="dashboard-card">
  <div class="dashboard-card-item" *ngFor="let item of cardArray" [style.background]="item.color">
    <div class="dashboard-card-item-left">
      <div style="font-size: 26px">{{item.value}}</div>
      <div>{{item.name}}</div>
    </div>
    <div class="dashboard-card-item-right">
      <div
        class="dashboard-card-item-right-item"
        *ngFor="let i of item.number"
        [style.height]="i/4000+'px'"
        nz-tooltip
        [nzTitle]="item.date+'   '+i"
      ></div>
    </div>
  </div>
</div>
