<div class="advanced-user-message">
  <nz-card
    [nzTitle]="'用户信息'"
    [nzBordered]="false"
  >
    <div nz-row>
      <div nz-col [nzSpan]="2">用户姓名：</div>
      <div nz-col [nzSpan]="6">李小龙</div>
      <div nz-col [nzSpan]="2">会员卡号：</div>
      <div nz-col [nzSpan]="6">1689321987532494</div>
      <div nz-col [nzSpan]="2">身份证：</div>
      <div nz-col [nzSpan]="6">440198194606139614</div>
      <div nz-col [nzSpan]="2">联系方式：</div>
      <div nz-col [nzSpan]="6">15611630232</div>
      <div nz-col [nzSpan]="2">联系地址：</div>
      <div nz-col [nzSpan]="14">广东省广州市白云区景泰街机场路广信金兰花园</div>
      <div nz-col [nzSpan]="24">信息组</div>
      <div nz-col [nzSpan]="2">某某数据：</div>
      <div nz-col [nzSpan]="6">768</div>
      <div nz-col [nzSpan]="2">该数据更新时间：</div>
      <div nz-col [nzSpan]="14">2018-06-14 18:49:12</div>
      <div nz-col [nzSpan]="2">
        某某数据<span nz-tooltip [nzTitle]="'数据说明'"><i class="anticon anticon-info-circle-o"></i></span>：
      </div>
      <div nz-col [nzSpan]="6">768</div>
      <div nz-col [nzSpan]="2">该数据更新时间：</div>
      <div nz-col [nzSpan]="14">2018-06-14 18:49:12</div>
      <div nz-col [nzSpan]="24">信息组</div>
      <div nz-col [nzSpan]="24">
        <nz-card
          [nzTitle]="'多层级信息组'"
          [nzType]="'inner'"
        >
          <div nz-row>
            <div nz-col [nzSpan]="24">组名称</div>
            <div nz-col [nzSpan]="2">负责人：</div>
            <div nz-col [nzSpan]="6">张冬冬</div>
            <div nz-col [nzSpan]="2">角色码：</div>
            <div nz-col [nzSpan]="6">776184</div>
            <div nz-col [nzSpan]="2">所属部门：</div>
            <div nz-col [nzSpan]="6">OA研发中心-架构组-前端组</div>
            <div nz-col [nzSpan]="2">过期时间：</div>
            <div nz-col [nzSpan]="6">2018-09-26</div>
            <div nz-col [nzSpan]="2">描述：</div>
            <div nz-col [nzSpan]="6">这是一段描述</div>
            <nz-divider></nz-divider>
            <div nz-col [nzSpan]="24">组名称</div>
            <div nz-col [nzSpan]="2">学名：</div>
            <div nz-col [nzSpan]="18">Citrullus lanatus (Thunb.) Matsum. et Nakai一年生蔓生藤本；茎、枝粗壮，具明显的棱。卷须较粗..</div>
            <nz-divider></nz-divider>
            <div nz-col [nzSpan]="24">组名称</div>
            <div nz-col [nzSpan]="2">负责人：</div>
            <div nz-col [nzSpan]="6">李大大</div>
            <div nz-col [nzSpan]="2">角色码：</div>
            <div nz-col [nzSpan]="14">193762</div>
          </div>
        </nz-card>
      </div>
    </div>
  </nz-card>
</div>
