<div class="work-place-top">
  <h2>工作台</h2>
  <div class="work-place-top-summary">
    <div class="work-place-top-summary-personal">
      <div class="work-place-top-summary-personal-header">
        <nz-avatar
          [nzIcon]="'anticon anticon-user'"
          [nzSize]="'large'"
          [nzSrc]="'//cipchk.github.io/ng-alain/assets/tmp/img/avatar.jpg'"></nz-avatar>
      </div>
      <div class="work-place-top-summary-personal-word">
        <h2>早安，山治，我要吃肉！</h2>
        <p>假砖家 | 地球－伟大航道－黄金梅丽号－厨房－小强部门</p>
      </div>
    </div>
    <div class="work-place-top-summary-message">
      <div class="work-place-top-summary-message-item">
        <div class="work-place-top-summary-message-item-title">项目数</div>
        <div class="work-place-top-summary-message-item-number">56</div>
      </div>
      <div class="work-place-top-summary-message-item">
        <div class="work-place-top-summary-message-item-title">团队内排名</div>
        <div class="work-place-top-summary-message-item-number">
          8
          <span>/24</span>
        </div>
      </div>
      <div class="work-place-top-summary-message-item">
        <div class="work-place-top-summary-message-item-title">项目访问</div>
        <div class="work-place-top-summary-message-item-number">2,223</div>
      </div>
    </div>
  </div>
</div>
