<div class="printing-right-color">
  <nz-card
    [nzBordered]="false"
    [nzTitle]="'Text Colors'"
  >
    <p style="color: #f5222d">class="text-red bg-red"</p>
    <p style="color: #fa541c">class="text-volcano bg-volcano"</p>
    <p style="color: #fa8c16">class="text-orange bg-orange"</p>
    <p style="color: #faad14">class="text-gold bg-gold"</p>
    <p style="color: #fadb14">class="text-yellow bg-yellow"</p>
    <p style="color: #a0d911">class="text-lime bg-lime"</p>
    <p style="color: #52c41a">class="text-green bg-green"</p>
    <p style="color: #13c2c2">class="text-cyan bg-cyan"</p>
    <p style="color: #1890ff">class="text-blue bg-blue"</p>
    <p style="color: #2f54eb">class="text-geekblue bg-geekblue"</p>
    <p style="color: #722ed1">class="text-purple bg-purple"</p>
    <p style="color: #eb2f96">class="text-magenta bg-magenta"</p>
  </nz-card>
</div>
