<div class="printing-right-padding-and-margin">
  <nz-card
    [nzTitle]="'Padding&Margin'"
    [nzBordered]="false"
  >
    <strong>清除边距</strong>
    <p><code
      style="padding: 2px 4px;
    margin: 0 4px;
    font-size: 90%;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;">console.log('hello world'!)</code></p>
    <p>eg: p0, pt0, mb0, mt0</p>
    <strong>间距</strong>
    <p><code
      style="padding: 2px 4px;
    margin: 0 4px;
    font-size: 90%;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;"
    >console.log('Hello World!')</code></p>
    <p>eg: p-sm, pb-sm, mt-md, mr-md</p>
  </nz-card>
</div>
