<div class="printing-left-headings">
  <nz-card
    [nzBordered]="false"
    [nzTitle]="'Headings'"
  >
    <h1>
      class="h1"
      <small>Sub-heading</small>
    </h1>
    <h2>
      class="h2"
      <small>Sub-heading</small>
    </h2>
    <h3>
      class="h3"
      <small>Sub-heading</small>
    </h3>
    <h4>
      class="h4"
      <small>Sub-heading</small>
    </h4>
    <h5>
      class="h5"
      <small>Sub-heading</small>
    </h5>
    <h6>
      class="h6"
      <small>Sub-heading</small>
    </h6>
  </nz-card>
</div>
