.widgets-personal {
  margin-top: 20px;
  &-item {
    &-card {
      margin-bottom: 20px;
      &-item {
        width: 50%;
        text-align: center;
        height: 100px;
        line-height: 52px;
        &-left {
          font-size: 24px;
        }
        &-right {
          line-height: 26px;
          text-align: left;
          h4 {
            font-size: 18px;
          }
          div {
            color: #bfbfbf;
          }
        }
      }
    }
  }
}
