<div class="widgets-personal" nz-row [nzGutter]="8">
  <div class="widgets-personal-item" nz-col [nzSpan]="8">
    <div class="widgets-personal-item-card">
      <nz-card>
        <div nz-card-grid class="widgets-personal-item-card-item" nz-row>
          <div class="widgets-personal-item-card-item-left" style="color: #f5222d" nz-col [nzSpan]="12">
            <i class="anticon anticon-user"></i>
          </div>
          <div class="widgets-personal-item-card-item-right" nz-col [nzSpan]="12">
            <h4>10k</h4>
            <div>VISITORS</div>
          </div>
        </div>
        <div nz-card-grid class="widgets-personal-item-card-item" nz-row>
          <div class="widgets-personal-item-card-item-left" style="color: rgba(0, 0, 0, 0.65);" nz-col [nzSpan]="12">
            <i class="anticon anticon-sound"></i>
          </div>
          <div class="widgets-personal-item-card-item-right" nz-col [nzSpan]="12">
            <h4>100%</h4>
            <div>VOLUME</div>
          </div>
        </div>
        <div nz-card-grid class="widgets-personal-item-card-item" nz-row>
          <div class="widgets-personal-item-card-item-left" style="color: #bfbfbf;" nz-col [nzSpan]="12">
            <i class="anticon anticon-fork"></i>
          </div>
          <div class="widgets-personal-item-card-item-right" nz-col [nzSpan]="12">
            <h4>150</h4>
            <div>FORKS</div>
          </div>
        </div>
        <div nz-card-grid class="widgets-personal-item-card-item" nz-row>
          <div class="widgets-personal-item-card-item-left" style="color: #52c41a;" nz-col [nzSpan]="12">
            <i class="anticon anticon-message"></i>
          </div>
          <div class="widgets-personal-item-card-item-right" nz-col [nzSpan]="12">
            <h4>10</h4>
            <div>MESSAGES</div>
          </div>
        </div>
      </nz-card>
    </div>
  </div>
  <div class="widgets-personal-item" nz-col [nzSpan]="8"></div>
  <div class="widgets-personal-item" nz-col [nzSpan]="8"></div>
</div>
