<div class="printing-middle-paragraphs">
  <nz-card
    [nzTitle]="'Paragraphs'"
    [nzBordered]="false"
  >
    <p>This is an example of small, fine print text.</p>
    <p><strong>This is an example of strong, bold text.</strong></p>
    <p><em>This is an example of emphasized, italic text.</em></p>
    <h4>Alignment & Sizing Helpers</h4>
    <p style="text-align: left;font-size: 14px;margin: 8px 0 1em;">class="text-left text-sm"</p>
    <p style="text-align: center;font-size: 16px;margin: 8px 0 1em;">class="text-center text-md"</p>
    <p style="text-align: right;font-size: 18px;margin: 8px 0 1em;">class="text-right text-lg"</p>
  </nz-card>
</div>
