<div class="work-place-bottom-left-project">
  <nz-card
    [nzTitle]="'进行中的项目'"
    [nzBordered]="false"
    [nzBodyStyle]="{padding:0}"
  >
    <span
      class="work-place-bottom-left-project-item"
      *ngFor="let item of projectBox">
      <nz-avatar
        [nzIcon]="'anticon anticon-user'"
        [nzSize]="'small'"
        [nzSrc]="item.img"
        (click)="showMessage(item.title)"
      ></nz-avatar>
      <span
        class="work-place-bottom-left-project-item-title"
        (click)="showMessage(item.title)"
      >{{item.title}}</span>
      <span class="work-place-bottom-left-project-item-content">{{item.text}}</span>
      <span
        class="work-place-bottom-left-project-item-author"
        (click)="showMessage(item.author)"
      >{{item.author}}</span>
      <span class="work-place-bottom-left-project-item-time">{{item.time}}</span>
    </span>
  </nz-card>
</div>
